.hero {
    img {
        margin: 2px auto;
    }
    .text {
        margin: 2px auto;
        width: 734px;
        > * {
            text-align: center;
            margin-top: 32px;
        }
        p {
            font-size: 1.25rem;
            padding: 0px 73px;
            line-height: 30px;
        }
        button {
            width: 280px;
            height: 56px;
            border-radius: 50px;
            font-weight: bold;
            background: linear-gradient(0deg, $Blue 100%, $Cyan 100%);
        }
    }
    @include for-tablet-layout {
        img {
            width: 304px;
        }
        .text {
            width: 320px;
            h1 {
                line-height: 36px;
                font-size: 2rem;
            }
            p {
                line-height: 21px;
                padding: 0;
            }
            button {
                width: 240px;
                height: 48px;
            }
        }
    }
}

.features {
    background-image: linear-gradient(transparent 31%, $darkBlue2 31%);
    padding: 156px 280px 136px;
    gap: 78px;
    .card {
        height: 215px;
        max-width: 354px;
        text-align: center;
        p {
            line-height: 21px;
            font-size: 0.875rem;
        }
    }
    @include for-tablet-layout {
        padding: 120px 27px 160px;
        .card {
            height: 199px;
            img {
                width: 64.47px;
            }
            h2 {
                font-size: 1.5rem;
            }
            p {
                font-size: 14px;
                line-height: 21px;

            }
        }
    }
}

.productive {
    gap: 57px;
    padding-bottom: 120px;
    div {
        width: 563px;
        height: 282px;
        text-align: left;
        h1 {
            padding-right: 40px;
            width: 506px;
            line-height: 50px;
            text-align: left;
        }
        p {
            line-height: 24px;
        }
        a{
            width: 170px;
            color: #62E0D9;
            padding-bottom: 4px;
            border-bottom: 1px solid white;
            &::after {    
                position: relative;
                top: 3px;
                left: 8px;
                content: url('../../assets/images/icon-arrow.svg');
            }
        }
    }
    @include for-tablet-layout {
        padding-bottom: 160px;
        img {
            width: 304px;
        }
        div {
            width: 320px;
            h1 {
                font-size: 1.5rem;
                line-height: 24px;
                padding-left: 10px;
            }
            p {
                font-size: 14px;
                line-height: 21px;
            }
            a {
                width: 130px;
            }
        }
    }
}

.team {
    margin: 0 auto;
    height: 259px;
    max-width: 1180px;
    background-image: url(../../assets/images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 20px;
    justify-content: end;
    align-items: flex-end;
    .card {
        background-color: $darkBlue4;
        width: 360px;
        height: 200px;
        margin: 0px 20px;
        border-radius: 3.93px;
        padding: 40px 24px 26px 26px;
        img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
        > p {
            font-size: 0.875rem;
            line-height: 21px;
            letter-spacing: 0.5px;
        }
        .team-mate {
            p{
                font-size: 0.5rem;
                line-height: 10px;
                letter-spacing: 0.57px;
            }
            div {
                padding-left: 8px;
            }
        }
        &:last-child {
            margin-right: 0px;
        }
    }
    @include for-tablet-layout {
        flex-direction: column;
        height: 537px;
        padding: 9px 0px 0px;
        margin-bottom: 160px;
        justify-content: space-between;
        align-items: center;
        background-position-x: 54px;
        background-position-y: 0px;
        background-size: 18px 9px;
        .card {
            width: 280px;
            height: 160px;
            padding: 24px 20px 21px;
            &:last-child {
                margin-right: 20px;
            }
        }
    }
}

.subscribe {
    height: 560px;
    background-image: linear-gradient($darkBlue2 63%, $darkBlue3 37%);
    padding-top: 201px;
    .card {
        margin: 0 auto;
        background-color: $darkBlue1;
        border-radius: 9px;
        padding: 42px 77px;
        max-width: 863px;
        height: 275px;
        box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.589);
        h2 {
            font-size: 2rem;
            line-height: 48px;
        }
        p {
            font-size: 0.875rem;
            text-align: center;
            line-height: 21px;
        }
        input {
            width: 480px;
            height: 48px;
            border-radius: 24px;
            padding: 17px 38px 15px;
            &::placeholder {
                color: #C0C0C0;
            }
        }
        button {
            width: 200px;
            height: 48px;
            border-radius: 24px;
            background: linear-gradient(0deg,$Cyan -125%,$Blue 100%);
        }
    }
    @include for-tablet-layout {
        height: 360px;
        padding: 0px 19px 0px 20px;
        .card {
            height: 353px;
            padding: 40px 28px 37px;
            p {
                font-size: 14px;
            }
            h1 {
                font-size: 1.5rem;
                line-height: 24px; 
                margin-bottom: 16px;
            }
            >:last-child {
                flex-direction: column;
                height: 120px;
                >* {
                    width: 100%;
                }
            }
            input::placeholder {
                font-size: 10px;
            }
        }
    }
}

section.footer {
    background-color: $darkBlue3;
    height: 317px;
    padding: 0px 81px 97px 120px;
    .details {
        margin-top: 32px;
        .location {
            width: 379px;
            margin-right: 80px;
        }
        .icon {
            width: 24px;
            height: 24px;
        }
        .icon-loc {
            margin-right: 27px;
            padding-top: 5px;
        }
        p {
            line-height: 24px;
        }
        .contact {
            width: 171px;
            height: 64px;
            margin-right: 146px;
            p{
                font-size: 00.875rem;
            }
        }
        .icon-phone, .icon-mail {
            margin-right: 22px;
        }
        .icon-phone{
            padding: 2px;
        }
        .icon-mail {
            padding: 4px 2px;
        }
        .sub-details {
            width: 70px;
            height: 136px;
            margin-right: 79px;
        }
        .sub-menu {
            width: 82px;
            height: 98px;
            margin-right: 113px;
        }
        .social-media {
            width: 120px;
            height: 32px;
            svg {
                border: 1px solid;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                padding: 8px;
            }
        }
    }
    @include for-tablet-layout {
        padding: 73px 28px 46px;
        height: auto;
        svg {
            margin-left: 11px;
        }
        .details {
            flex-direction: column;
            gap: 48px;
            .location p {
                width: 279px;
            }
            *, .location p {
                font-size: 16px;
            }
            .social-media {
                align-self: center;
            }
        }
    }
}