.searches-history {
  width: 50%;
  padding: 10px;
  h2 {
    padding-top: 10px;
  }
  img {
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg) brightness(103%) contrast(102%);
    &:hover {
      filter: invert(71%) sepia(56%) saturate(517%) hue-rotate(28deg) brightness(99%) contrast(94%);
    }
  }
  .recent-search {
    max-height: 45px;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
    .recent-search-title img {
      transition: 0.3s;
      transform: rotate(0deg);
    }
    &.show {
      transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
      max-height: 370px;
      .recent-search-title img {
        transform: rotate(180deg);
      }
    }
  }
  .search-value {
    background-color: $clr4;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: $clr7;
    }
    span {
      color: $clr8;
    }
  }
}
@include for-tablet-layout {
  .searches-history {
    width: 100%;
    display: none;
  }
}
