@keyframes insertdisk {
  0% {
    left: 0;
    opacity: 1;
    z-index: 1;
  }
  50% {
    border-radius: 50%;
    z-index: 1;
  }
  100% {
    left: 150%;
    border-radius: 50%;
    opacity: 0.3;
    z-index: 1;
  }
}

.track-card {
  border-bottom: 1px solid $clr7;
  min-height: 100px;
  color: $White;
  margin-top: 5px;
  &:hover {
    background-color: $clr4;
  }
  &.active,
  .active:hover {
    background-color: $clr5;
    cursor: default;
  }
  .track-secondary-details > div {
    align-items: center;
    p {
      font-size: 1rem;
      margin-left: 5px;
    }
  }
  .track-preview {
    justify-content: space-evenly;
    padding: 0px 5px;
    h3 {
      color: $clr1;
    }
    h3 ~ p {
      font-weight: bold;
      height: 17px;
      overflow-y: hidden;
    }
    .track-secondary-details {
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg) brightness(103%) contrast(102%);
        width: 16px;
      }
    }
  }
  &.tile {
    flex-direction: column;
    width: 43%;
    img {
      width: 100%;
    }
    .track-created {
      display: none;
    }
  }
  &.move-play > img {
    position: relative;
    animation: insertdisk 1s ease-out 1;
  }
  @include for-tablet-layout {
    .track-card {
      min-height: 55px;
    }
    .track-preview {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .track-secondary-details .track-created {
      display: none;
    }
  }
}

.tracks-container {
  display: flex;

  &.wrap > a {
    margin: 10px;
  }
  @include for-tablet-layout {
    @keyframes insertdisk {
      0% {
        top: 0;
        opacity: 1;
        z-index: 1;
      }
      50% {
        border-radius: 50%;
        z-index: 1;
      }
      100% {
        top: -150%;
        border-radius: 50%;
        opacity: 0.3;
        z-index: 1;
      }
    }
    flex-direction: column;
    overflow: scroll;
    overflow-x: scroll;
    .tile {
      flex-direction: column;
      width: 25%;
      position: relative;
      .track-preview {
        position: absolute;
        background-color: rgba(36, 36, 36, 0.657);
        .track-secondary-details {
          display: none;
        }
      }
      img {
        width: 100%;
      }
      .track-created {
        display: none;
      }
    }
  }
}
