* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    @include for-tablet-layout {
        font-size: 16px;
    }
}

body {
    background-color: $clr2;
    color: $White;
    font-family:'Lucida Grande';
}

a {
    text-decoration: none;
    color: inherit;
    font-family:'Raleway';
    cursor: pointer;      
    :focus {
        color: inherit;
    }
    :active {
        color: inherit;
    }    
}

p { 
    font-size: 1rem;
}

button {
    cursor: pointer;
    color: inherit;
    border: none;
    background-color: $clr3;
    &:disabled {
        background-color: transparent;
        color: $clr3;
        cursor:not-allowed;
    }
}

input {
    outline: none;
    // border: none;
    border: 1px solid $clr4;
    border-radius: 5px;
    padding: 3px 5px;
}

h1, h2, h3, h4, h5, h6 { 
    font-family:'Lucida Grande';
    text-align: center;
}

h1 { 
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 10px 10px;
}

h2 { 
    font-size: 1.25rem;
}
h3 {
    font-size: 0.8755rem;
    letter-spacing: 0.5px;
    text-align: left;
    font-family:'Open Sans';
}

.animated-color {
    animation: background 20s linear infinite;
    background: linear-gradient(
      90deg,
      rgba(150, 48, 30, 1) 0%,
      rgba(199, 201, 88, 1) 10%,
      rgba(28, 147, 46, 1) 20%,
      rgba(74, 165, 168, 1) 30%,
      rgba(89, 90, 165, 1) 40%,
      rgba(84, 16, 67, 1) 50%,
      rgba(28, 58, 63, 1) 60%,
      rgba(82, 175, 183, 1) 70%,
      rgba(78, 170, 76, 1) 80%,
      rgba(150, 48, 30, 1) 90%,
      rgba(199, 201, 88, 1) 100%
    );
    background-size: 1000% 100%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @keyframes background {
        0% {
          background-position: 0% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }
}