.app {
    height: 100vh;
}

.container {
    background-color: $White;
    position: relative;
    max-width: 1210px;
    padding: 0px 30px;
    border: 1px black solid;
    margin: 0 auto;
}

section:nth-child(n+3) {
    background-color: $darkBlue2;
}