.app {
    height: 100vh;
    overflow: hidden;
    @include for-tablet-layout {
        overflow: hidden;
        overflow: scroll;
        overflow-x: hidden;
    }
}

.container {
    background-color: $White;
    position: relative;
    max-width: 1210px;
    padding: 0px 30px;
    margin: 0 auto;
}

.home {
    background: #000;
    height: 100%;
    overflow: hidden;
    max-width: 1210px;
    padding: 0px 30px;
    border: 1px black solid;
    margin: 0 auto;
}

//Scroll bar
/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff6565;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff3939;
}
